{% extends 'school/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Admin</h1>
  <p class="lead">Welcome to Online School Management System.</p>
  <p class="lead">I am very happy to you here...</p>
  <hr class="my-4">
  <p>You can monitor and makes change according to your requirement.</p>
  
  <p>If you have already became the part of SVN Family than go for <strong>Login</strong></p>
  <p>Otherwise You have need to first <strong>SignUp</strong> and go toward</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
